<!-- views/listings/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= Foods.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

    <h1>A foods name <%= Foods.name %>
    </h1>

    <h2>Details</h2>
    <p>foods instructions: <%= Foods.instructions %>
    </p>


    <h2>Owner</h2>
    <% if (Foods.owner._id.equals(user._id)) { %>
      <p>You own this!</p>
      <form action="/foods/<%= Foods._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this foods</button>
      </form>

      <a href="/foods/<%= Foods._id %>/edit">Edit this foods</a>
      <% } else { %>
        <p>You don't own this, <%= foods.owner.username %> does!</p>
        <% } %>
</body>

</body>

</html>